
  .main-products-section{
    background-color: rgb(244,239,235);
  }
  #load-more-container{
    background-color: rgb(244,239,235);
  }
  #load-more-btn{
    color: black;
    border:solid 1px black;
  }
  .category-landing-page {
    width: 100%;
    background-color: rgb(244,239,235);
  }

  .category-landing-page .wrapper {
    /* height: 400px; */
    max-width: 900px;
    background-color: rgb(244,239,235);
    justify-content: center;
    text-align: center;
    padding-top: 100px;

  }
  .category-landing-page a{
    padding: 0;
  }

  .category-landing-page span {
    margin-left: 15px;
    display: block;
  }

  .category-landing-page h2 {
    color: rgb(48, 48, 48);
    font-size: 40px;
    font-weight: bolder;
  }

  .category-landing-page .container {
    max-width: 800px;
    min-height: 130px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    padding: 50px 50px 0px 50px;  
  }

  .category-landing-page .wrapper .container .select {
    border-radius: 50px;
    width: 150px;
    text-align: center;
    height: 25px;
    border: solid 2px rgb(122, 122, 122);
    color: rgb(122, 122, 122) ;
   
    /* margin: 20px; */
  }
  .category-landing-page .wrapper .container .category-container {
    margin-left: 5px;
   width: 240px;
   display: flex;
   justify-content: space-between;
    margin-bottom: 30px;
    
  }
  .category-landing-page .wrapper .container input {
    margin: 1.5px;
    display: none;
  }

 
  .color-button{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2.5px solid rgb(128, 127, 127);
    border-radius: 50%;
    margin-left: 3px;
  }
  #color-btn1{
    border: 2.5px solid rgb(128, 127, 127);
  }

  #color-btn2{
    border: 2.5px solid rgb(3, 148, 245);
  }
  #color-btn3{
    border: 2.5px solid rgb(0, 0, 0);
  }
  #color-btn4{
    border: 2.5px solid rgb(74, 216, 8);
  }
  #color-btn5{
    border: 2.5px solid rgb(0, 17, 255);
  }
  #color-btn6{
    border: 2.5px solid rgb(201, 122, 4);
  }
  #color-btn7{
    border: 2.5px solid rgb(255, 0, 0);
  }
 

  .color-button:active {
    background-color: #fff;
  }

  #white:checked ~  #color-btn1 {
    background: white;
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  
  #blue:checked ~  #color-btn2 {
    background: rgb(3, 148, 245);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  
  #black:checked ~  #color-btn3 {
    background: rgb(0, 0, 0);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  
  #green:checked ~  #color-btn4 {
    background: rgb(74, 216, 8);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  
  #dark-blue:checked ~  #color-btn5 {
    background: rgb(0, 17, 255);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  #orange:checked ~  #color-btn6 {
    background: rgb(201, 122, 4);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  #red:checked ~  #color-btn7 {
    background: rgb(255, 0, 0);
    border: solid 1px gray;
    height: 13px;
    width: 13px;
  }
  