

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244,239,235);
    /* overflow-x: hidden; */
  }
  

  .breadcrumbs {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 110px;  
  }
  .breadcrumbs a{
    padding: 0;
  }

  .breadcrumbs span {
    margin-left: 15px;
  }

  .breadcrumbs h2 {
    color: rgb(48, 48, 48);
    font-size: 40px;
    font-weight: bolder;
  }

  .product-detailed{
    width: 100%;
  }

  .product-detailed .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    max-width: 1200px;
    padding-top: 15px;
 

  }

  .product-detailed .container-left {
    background-color: #fff;
    max-height: 600px;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
  }

  .thumbnail-label{
    cursor: pointer;
    display: flex;
  }
  .thumbnail-label img{
    margin: 0px 5px 5px 5px;
    width: 70px;
    
  }
  
  
  
  .radio{
    display: none;
  }
  .photo{
    display: none;
  }
  .radio:checked + .photo{
    display: block;
  }

  .photo img{
  
    
  }
  .zoom-div{
    position: absolute;
    margin: 10px;
    cursor: pointer;
  }
  #zoom{
    font-size: 22px;
    color: #9ece4d;
  }

  .product-detailed .container-right {
    max-height: 600px;
    padding: 15px;
   
    background-color: #fff;
  }
 
  @media screen and (min-width: 1000px){
    .product-detailed .container-right{
      width: 400px;
    }
    .photo img{
      height: 500px;
    }
    .product-detailed .container-left{
      padding-right: 100px;
    }
    .thumbnail-label img{
      margin: 0px 20px 30px 30px;
      
    }
    
  
  }
  .container-right h2{
    font-size: 35px;
    color: #000000;
  }

  .cart-buttons{
    height: 41px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }

 
  .color {
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 22px;
    border: 2px solid rgb(228, 229, 224);
    margin-right: 10px;
    color: black;
    background: none;
    padding: 0px 2px 0px 2px;
  }
  .select{
    font-family: 'FontAwesome', 'Arial';
  }
  
  .plus-minus-button{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 22px;
    border: 2px solid rgb(228, 229, 224);
    margin-right: 10px;
    color: black;
    background: none;
    padding: 0px 2px 0px 2px;
    }
  .plus-minus-button span{
    width: 100%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
  }
  .plus-minus-button .number{
    font-size: 20px;
    color: black;
  }
  .plus,.minus{
    background-color: none;
    background: none;
    border: none;
    color: rgba(128, 128, 128, 0.767);
    font-size: 25px;
  }



  .add-to-cart {
    border: #84bc22 solid 2px;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    background-color: #84bc22;
    font-weight: 400;
    color: #fff;
  }
  .add-to-cart:hover {
    background-color: #a2db3f;
  }
  .add-to-cart:active{
    border:  #a2db3f solid 2px;
  }

  .hidden-content {
    display: none;
  }

  .read-more-label {
    color: #84bc22;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  #read-more{
    display: none;
  }

  #read-more:checked ~ .hidden-content{
    display: block;
  }

  #read-more:checked ~ .read-more-label{
   visibility: hidden;
  }
  #read-more:checked ~ .read-more-label:after{
    content: "Show Less";
    visibility: visible;
  }

  .container-tabs {
    height: 300px;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-top: 5%;
    line-height: 1.5;
    margin: 0 auto;
  }

  .box  {
    display: flex;
    flex-wrap: wrap;
  }

  .box label {
    color: rgb(184, 182, 182);
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    order: 1;
    display: block;
    cursor: pointer;
    margin-left: 55px;
    border-radius: 20px 20px 0px 0px;
    height: 40px;
    width: 200px;
    padding: 10px 10px 0;
    
  }
 

  label.box-first {
    margin-left: 220px;
  }


  .box label p{
    margin: 5px;  
  }
  @media screen and (max-width: 810px){
    .box label {
    width: 120px;
    font-size: 14px;
  }
  label.box-first {
    margin-left: 110px;
  }
  }

  .box .content {
    display: none;
    padding: 30px;
    background: rgb(37, 42, 51) ;
    color: rgb(167, 165, 165);
    font-size: 12px;
    order: 99;
    flex-grow: 1;
    width: 100%;
    column-count: 2;
    height: 130px;
    padding-top: 70px;
    padding-bottom: 20px;
    /* align-items: center; */
  }

  .box input[type="radio"]{
    display: none;
  }
  .box input[type="radio"]:checked + label {
    color: #fff;
    background: rgb(37,42,51);
  }
  .box input[type="radio"]:checked + label + .content {
    display: block;
  }

  .line{
    width: 33%;
    height: 2px;
    background-color: rgb(202, 202, 202);
    margin: 0px 55px 0px;

  }
  .product-header{
    margin-top: 70px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-product-card{
    margin-bottom: 15px;
 
  }

  .product-social{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .product-social .print-page{
    padding: 16px 10px 10px 10px;
   color: gray;
   cursor: pointer;
  }
  .product-social .print-page:hover{
    
   color: #84bc22;
  
  }

  .product-social ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin: 1rem 0 0 0 ; */
    /* position: absolute; */
    
  }
  
  .product-social ul a {
    padding: 10px;
  }

  @media screen and (max-width:380px) {
    .container-left .photo img{
      height: 300px;
    }
    .container-tabs{
      display: none;
    }
    .product-header{
      display: none;
    }
    .product-card{
      display: none;
    }
  }


  .zoom-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000081;
    z-index: 9999;
    display: none;
    justify-content:center ;
    align-items: center;

  }

  .zoom-overlay img{
    margin: auto;
  }
  .zoom-overlay.active{
    display: flex;
  }

  @media print {
    .container-right{
      max-width: 30%;
    }
    header{
      display: none;

    }
    .benefit{
      display: none;
    }
    footer{
      display: none;
    }
    .breadcrumbs{
      display: none;
    }
    .product-header{
      display: none;
    }
    .container-tabs{
      display: none;
    }
    .main-product-card{
      display: none;
    }


  }